<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes - Admin Menu</title>
  <link rel="stylesheet" href="clientes.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<!-- =================== Header =================== -->
<header>
  <div class="header-left">
    <img class="logo" src="assets/logo.png" alt="Logo Servitech">
  </div>
  <nav>
    <div class="auth-buttons">
      <button [routerLink]="'/menuadmin'" class="menuadmin">Menu Admin</button>
      <button [routerLink]="'/account'" class="account-option">My Account</button>
    </div>
  </nav>
</header>

<!-- =================== Main Content =================== -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th class="fila" mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Fecha de Creación Column -->
    <ng-container matColumnDef="fechaCreacion">
      <th class="fila" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </td>
    </ng-container>

    <!-- UserID Column -->
    <ng-container matColumnDef="usuario">
      <th class="fila" mat-header-cell *matHeaderCellDef> UserID </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario.id}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- =================== Footer =================== -->


</body>
<footer>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</footer>
</html>
