<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servitech - Sign Up</title>
</head>
<body>
<header>
  <div class="header-left">
    <img src="assets/logo.png" [routerLink]="'/home'" alt="Servitech Logo" class="logo">
  </div>
  <div class="header-right">
    <p>Already a member? <a [routerLink]="'/login'">Log in</a></p>
  </div>
</header>

<main>
  <div class="login-container">
    <h1>Sign up</h1>
    <form [formGroup]="tecnicoForm">
      <input formControlName="especialidad" type="text"  placeholder="Especialidad" required>
      <input formControlName="descripcion" type="text"  placeholder="Descripción" required>
      <input formControlName="horario" type="text"  placeholder="Horario" required>
      <button type="submit" (click)="onSubmit()">Sign up</button>
      <div class="divider"></div>
    </form>
  </div>
</main>
<footer>
  <p class="footer-text">Join 1,500 technicians who trust Servitech with their services proposal</p>
</footer>
</body>
</html>
