/* Fondo del cuerpo */
body {
  background-color: #e8c8a3;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C2E24;
  padding: 1rem;
}

.logo {
  height: 60px;
}

.user-menu {
  position: relative;
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 10;
}

.user-menu:hover .user-dropdown {
  display: block;
}

.user-dropdown button {
  display: block;
  width: 100%;
  padding: 6px;
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
}

/* Contenedor de solicitudes */
.requests-container {

  margin: 20px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Listado de solicitudes */
.requests-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.request-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.request-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.request-card h3 {
  margin: 0 0 10px;
  color: #3C2E24;
  font-weight: bold;
}

.request-card p {
  margin: 5px 0;
  color: #555;
}

.request-card button {
  margin-top: 10px;
}
